.todoItem {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  min-height: 48px;
  border: 1px solid $dark;
  border-radius: 8px;
  padding: 8px;
  word-break: break-all;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: $whiteHover;

    .todoItemButton {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }

  &Check {
    transform: translateY(2px);
    margin-right: 6px;
    display: block;
    padding: 2px;

    &Input {
      display: none;

      &:checked + .todoItemCheckLabel::before {
        background-color: $green;
      }
    }

    &Label::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 4px;
      transition: background-color 0.4s;
      border: 1px solid $dark;
    }
  }

  &Text {
    align-self: center;
    margin-right: 4px;
  }

  &Button {
    margin-left: auto;
    //opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.3s ease;
    //transform: translateX(40px);
    //position: absolute;
    //right: 12px;
    //top: 8px;
    //float: right;
  }
}

.completed {
  text-decoration: line-through;
}

.todoItemEditInput {
  flex-grow: 1;
  padding: 6px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
